.banner-promo {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 4rem;
  overflow: hidden;

  &__container {
    position: relative;
    top: 17%;
    margin: 0 auto;
    height: auto;
    z-index: 999;
    text-align: center;
  }

  &__kicker {
    margin-bottom: 1rem;
    font-size: .875rem;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: $seaserpent;

    @include breakpoint($screen $large-start) {
      font-size: 1.125rem;
    }
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    /*background-image: linear-gradient(180deg, $warm 9%, rgba($white, 0.95) 100%);*/
    /*background-image: linear-gradient(180deg, rgba($warm, .98) 9%, rgba($white, 0.85) 100%);*/
    background-image: linear-gradient(180deg, rgba(249, 247, 245, 0.98) 9%, rgba($warm, 0.85) 92%, $warm 100%);
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover !important;
  }

  &__title {
    font-size: 2.75rem;
    line-height: 1.3;
    text-align: center;
    font-weight: 700;

    @include breakpoint($screen $large-start) {
      font-size: 4rem;
      line-height: 1.2;
    }
    
  }

  & p {
    margin: 0 auto;
    letter-spacing: 0;
    font-size: 1.3125rem;
    font-weight: 300;
    text-align: center;
    line-height: 1.4;
    color: $navy;

    @include breakpoint($screen $large-start) {
      width: 60%;
      font-size: 2rem;
    }
  }
}

%banner-image__bg-base {
  display: none;

  @media screen and (min-width: $medium) {
    position: absolute;
    top: 50%;
    width: 468px;
    height: 312px;
    display: block;
    z-index: -1;
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }
}

.banner-image {
  position: relative;
  z-index: 2;
  padding: 2.5rem 0 1rem;

  @media screen and (min-width: $large-start) {
    padding-bottom: 0;
  }

  &__bg {
    &--left {
      @extend %banner-image__bg-base;
      left: 0;
      background-image: url(images/studying-2-40.jpg);
      background-position: -180px 0;

      @media screen and (min-width: $xlarge) {
        background-position: -80px 0;
      }
    }

    &--right {
      @extend %banner-image__bg-base;
      right: 0;
      background-image: url(images/studying-3-40.jpg);
      background-position: 60px 0;

      @media screen and (min-width: $xlarge) {
        background-position: 0 0;
      }
    }
  }

  &__container {

  }

  &__frame {
    @media screen and (min-width: $medium-minor) {
      max-width: 70%;
      margin: 0 auto;
      padding: 1rem;
      text-align: center;
      background: $white;
      border-radius: 2px;
      @include box-shadow;
    }
    
    @media screen and (min-width: $large-start) {
      max-width: 755px;
    }
  }
}

