$box-padding: 4rem;

%content-base {
  h5 {
    margin-bottom: .75rem;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    color: $seaserpent;
  }
}

.promo-box {
  padding: 0 !important;
  text-align: left;
  background-color: $white;
  @include box-shadow;

  &__body {
    padding: 2rem;

    @include breakpoint($screen $large-start) {
      padding: 3rem $box-padding 3.5rem !important;
    }
  }

  &__content {
    &--major {
      @extend %content-base;
      margin-bottom: 4.5rem;

      @include breakpoint($screen $large-start) {
        margin-bottom: 0;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -40px;
        left: -1.5rem;
        right: -1.5rem;
        height: 1px;
        border-top: 1px dashed $teal;

        @media screen and (min-width: $medium-minor) {
          left: 0;
          right: 0;
        }
      }
    
      @media screen and (min-width: $large-start) {
        padding-right: 3rem !important;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: auto;
          left: auto;
          right: 0;
          width: 1px;
          border-right: 1px dashed $teal;
          height: 100%;
        }
      }

      h2 {
        margin-top: 0;
        text-align: left;
        font-size: 2.375rem;
        line-height: 1.2;
      }
    }

    &--minor {
      @extend %content-base;

/*
      max-width: none;
      margin: 0 -1.5rem -2rem;
      background: $warm;
      flex-grow: initial;
      flex-shrink: initial;
      flex-basis: initial;
      padding: 2rem 2rem !important;
*/
      
      
      @include breakpoint($screen $large-start) {
        padding-left: 3rem !important;
      }
    
      p, li {
        font-size: 1rem;
        color: #777;
        line-height: 28px;

        @include breakpoint($screen $large-start) {
          line-height: 2;
        }
      }

      li {
        margin-bottom: 0;
      }

      figure {
        position: relative;
        top: -4px;
        max-width: 250px;
        margin: 0 auto 1.25rem;
      
        @media screen and (min-width: $large-start) {
          max-width: none;
        }
      }
    }
  }

  &__header {
    /*margin: -2rem -2rem 1rem;*/
    padding: .75rem 2rem !important;
    text-align: left;
    font-size: 24px;
    background-color: $orange;

    @include breakpoint($screen $large-start) {
      padding: .75rem $box-padding !important;
    }

    h3 {
      color: $white;
      font-weight: 600;
    }
  }
}

