.callout {
  /*padding: 2rem 1rem;*/
  padding-top: 2rem;
  padding-bottom: 2rem;
  // background-image: url(images/education-bg-10.png), linear-gradient(to bottom, $white, $warm);
  background-image: url(images/education-bg-10.png);
  background-color: #fff;
  background-repeat: repeat;
  background-size: auto;
  background-position: 50% 60%;
  border-top: 1px dashed rgba($teal, .2);
  border-bottom: 1px dashed rgba($teal, .2);
  
  @media screen and (min-width: $medium) {
    padding-bottom: 2.75rem;
  }

  @media screen and (min-width: $large-start) {
    background-size: 20%;
  }
  
  .wrap {
    max-width: 1060px;
    margin: 0 auto;
  }

  h3 {
    margin-bottom: 8px;
    color: $teal;
    font-weight: 600;

    span {
      display: block;
      font-size: 16px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $orange;
    }
  }

  h5 {
    @extend .banner-promo__kicker;
    margin-bottom: 0;
    text-align: left;
    font-size: 14px;
  }

  &-container {
    text-align: center;

    @media screen and (min-width: $medium) {
      text-align: left;
    }
  }

  &-media {
    margin-bottom: 1rem;
    text-align: center;

    @media screen and (min-width: $medium) {
      margin-bottom: 0;
      padding-right: 2rem !important;
    }
  }

  &-body {

  }

}
