.checklist {

  & li {
    margin-left: .75rem;
    font-weight: 600;
  
    &:before {
      position: absolute;
      content: "";
      top: 7px;
      left: -42px;
      width: 42px;
      height: 100%;
      background-image: url('images/checkmark.png');
      background-repeat: no-repeat;
      background-size: 50%;
      background-color: transparent;
    }
  }
}
