.icons {
  &__item {
    margin-bottom: 3rem;

    @media screen and (min-width: $large-start) {
      margin-bottom: 0;
    }

    & figure {
      margin: 0 auto;
      max-width: 100px;
      height: 100px;
    }
    
    & h3 {
      margin-bottom: .5rem;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      color: $teal;
    }

    & p {
      margin: 0 auto;
      text-align: center;

      @media screen and (min-width: $medium-minor) {
        max-width: 50%;
      }

      @media screen and (min-width: $large-start) {
        max-width: 17rem;
      }
    }

    &--last {
      @extend .icons__item;
      margin-bottom: 0;
    }
  }
}
