.refer {

  & h3 {
    font-weight: 400;
    font-size: 1.75rem !important;
    line-height: 1.4 !important;
    color: #4a4a4a;

    @include breakpoint($screen $large-start) {
      font-size: 2.375rem !important;
    }
  }

  h5 {
    margin: 0 auto 2rem;
    font-size: 1.25rem;
    font-weight: 300;;
    line-height: 1.6;
    color: #777;

    @include breakpoint($screen $large-start) {
      width: 60%;
      font-size: 1.5rem;
      line-height: 1.4;
      /*color: #4a4a4a;*/
    }
  }
  
}
