$navy: #000066;
$teal: #22a49c;
$seaserpent: #11c7eb;
$warm: #f9f7f5;
$orange: #ffaa00;
$white: #ffffff;
$dark: #2a2a2a;

$small: 480px;
$medium-minor: 624px;
$medium: 768px;
$medium-start: $medium;
$large-start: 992px;
$xlarge: 1100px;

$contentwidth: 1140px;
$screen: 'screen';
$screenwidth: 1440px;

@mixin box-shadow {
  box-shadow: 0 0 13px -1px rgba(0,0,0,.32);
}

@import 'vendor/breakpoint';
@import 'layout';
@import 'animations';
@import 'banner';
@import 'callout';
@import 'icons';
@import 'box';
@import 'checklist';
@import 'refer';

*, *::after, *::before {
  box-sizing: border-box;
}

/* OSTEO.ORG STYLESHEET OVERRIDES */

html {
  font-size: 16px;
  line-height: 1;
  height: 100%;
  text-size-adjust: 100%;

  &:after {
    content: none;
  }
}

body {
  background-color: $warm;
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;

  &:before {
    content: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  font-weight: 600;
}

p, li {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  @include mq(l) {
    font-size: 19px;
    line-height: 33px;
  }
}

.btn-trans:hover {
  color: $teal;
}

// @media only screen and (max-width: 580px) and (min-width: 1px) {
//   header .brand .logo {
//     background-image: url(images/mobile-logo.png) !important;
//   }
// }
// 
// header .brand .logo {
//   background-image: url(images/aoa-logo.svg);
// }

footer .footer-bottom {
  ul li a {
    font-weight: 400;
  }

  .address {
    font-weight: 400;
  }

  .footer-logo {
    background-image: url(images/footer-logo.png);
  }
}


.main-nav {
  width: auto;

  & > ul {
    display: flex;

    & > li {
      display: block;

      & > a  {
        font-weight: 400;
        color: #4a4a4a;

        & .ico {
          background-image: url(images/right-triangle-teal.svg);
        }
      }

      & .submenu .menu-bottom ul li a {
        font-weight: 400;
      }
    }
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1px) {
  .mobile-nav > ul > li > a .ico {
    background-image: url(images/post-next.png);
  }
}

/* MISC NEW STYLES */
.scroll-down {
  svg {
    width: 39px;
    height: 19px;
    margin-top: 2rem;
    margin-bottom: 0;
    z-index: 2;
    animation: pulse 1s linear infinite;
    overflow: hidden;
  }

  span {
    display: inline-block;
    text-indent: -9999px;
    white-space: nowrap;
  }
}

.contact-us {
  padding: 35px 20px !important;

  @include mq(l) {
    padding: 70px 40px !important;
  }

  & h4 {
    display: block;
    margin-bottom: 24px;
    width: 100%;
    letter-spacing: 0.5px !important; 
    text-transform: none !important; 
    font-weight: 400 !important;
    line-height: 1.4 !important;

    @include breakpoint($screen $large-start) {
      display: inline-block; 
      width: auto;
      margin-right: 24px; 
      margin-bottom: 0;
    }
  }
}
